.interaction {
    display: flex;
    margin: 10px;
}

.interaction > img:hover {
    cursor: pointer;
}

.interaction > img {
    width: 40px;
    border-radius: 50%;
}

body {
    margin: 0;
}

.search_box {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 24px;
    background-color: whitesmoke;
}

.search_box > .search {
    display: flex;
    width: 20px;
}

input {
    border: none;
    background-color: transparent;
}
